<div class="reviews block" id="reviews">
    <div class="wrapper">
        <h1 class="title">Отзывы</h1>
        <div class="reviews-block">
            <div class="reviews__slider">
                <div class="reviews__slider-item">
                    <img src="img/rewImg-1.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Раттана, 28 лет,</p>
                    <p class="reviews-city">Хуахин</p>
                    <p class="reviews-head">Сейчас, слава богу, <br>
                       руки чистые</p>
                    <p class="reviews-text">
                        Я так с этим псориазом намучилась, все руки были в болячках по самый локоть. А когда к врачу
                        обратилась, он мне назначил этот крем.
                        Зуд прошел, бляшки хорошо сняло,
                        и кожа после лечения красивая, нежная. Медленно, но верно
                        я все-таки избавилась от этой неприятности. Сейчас, слава богу, руки чистые.
                    </p>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-2.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Фуенг, 36 лет,</p>
                    <p class="reviews-city">Пхукет</p>
                    <p class="reviews-head">Могу теперь перестать <br>
                        прятать кожу</p>
                    <p class="reviews-text open">
                        Я очень долго страдала от высыпаний, что я только не мазала
                        и не принимала, постоянно приходилось сидеть
                        на гипоаллергенной диете, да
                        и арсенал в аптечке не мал, в пору открывать свою аптеку, но однажды мой врач также не мало
                        измучившись со мной посоветовал попробовать препарат <span class="brown">Псориконтрол.</span> Он
                        вообще его людям с
                        псориазом назначает, но там такой мощный состав, что решил, что и мне поможет. Стала принимать,
                        надежды не было уже ни какой, но через некоторое время стала замечать,
                        что моя болячка, постепенно уходит. Сейчас кожа рук и на плечах стала нормальной, могу теперь
                        перестать прятать кожу. но я все таки с целью профилактики продолжаю прием этого препарата
                    </p>
                    <div class="click">+</div>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-3.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Сонтхи, 26 лет,</p>
                    <p class="reviews-city">Ао Нанг</p>
                    <p class="reviews-head">Рекомендую всем,
                        у кого проблемы с кожей</p>
                    <p class="reviews-text">
                        Стоило мне немного перенервничать, и начинались высыпания. Первыми сыпью покрываются локти, но
                        так как я сейчас сразу же начинаю применять крем, то локтями все
                        и заканчивается. Рекомендую всем,
                        у кого проблемы с кожей
                    </p>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-4.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Мали, 41 год,</p>
                    <p class="reviews-city">Паттайя</p>
                    <p class="reviews-head">Кожа выглядит так хорошо,
                        как будто у меня и нет псориаза</p>
                    <p class="reviews-text open">
                        Псориаз появился несколько лет назад. Сразу стала лечить с помощью самостоятельного
                        оздоровления. Провела пять чисток печени, регулярно делала чистки кишечника, даже втирала в тело
                        упаренную до четверти урину. Но не помогало оно всё. Сестра говорила, что я больная,
                        и давно пора попробовать что-то,
                        так сказать, из традиционных методов. Нашла для меня Псориконтрол, сама купила, принесла и
                        сказала: “На, мажься”. Ну я и решила попробовать, что уж там. Постепенно начал проходить зуд,
                        кожа перестала быть такой стянутой. Промазалась месяц, действительно хорошее средство, кожа
                        выглядит так хорошо, как будто у меня и нет псориаза.
                    </p>
                    <div class="click">+</div>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-5.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Сакда, 29 лет,</p>
                    <p class="reviews-city">Пай</p>
                    <p class="reviews-head">За месяц <br>
                        экзема исчезла</p>
                    <p class="reviews-text open">
                        Достала экзема, обосновалась
                       <span class="ib">на кистях</span> рук и не проходила, гормональными мазями мазать
                        <span class="ib">не хотелось,</span> да и толку от них не много. Погуглил что-то растительное, нашёл псориконтрол.
                        Почитал состав, оказалось, что он не только от псориаза помогает. Заказал, тем более цена такая
                        низкая для такого препарата, попробовать стоит.
                        За месяц экзема исчезла, кожа теперь нормальная.
                    </p>
                    <div class="click">+</div>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-6.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Таенг, 52 года,</p>
                    <p class="reviews-city">Бангкок</p>
                    <p class="reviews-head">Удивляюсь, как быстро <br>
                        и гладко все заживает</p>
                    <p class="reviews-text">
                        У меня псориаз начался с локтей и коленок, позже и на голове появился. В последние годы на теле
                        псориаз распространился, остались на голове небольшие пятна. Я начала использовать этот крем. И
                        удобный,
                        в плане использования, и очень эффективный, на себе испробовала.
                        Я прошла курс. Удивляюсь, как быстро и гладко все заживает!
                    </p>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-7.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Вирот, 24 года,</p>
                    <p class="reviews-city">Кхонкэн</p>
                    <p class="reviews-head">Уже два месяца экзема <br>
                        не возвращается</p>
                    <p class="reviews-text open">
                        Мне 24 года. Экземой заболел
                        в армии, в жару +35С-+40С ходили
                        в кожанных берцах, снимать не разрешали. Ноги буквально горели, наверно, от собственного пота
                        и началось. Плюс стрессы постоянные, невысыпание, всё
                        на нервах. Спали бывало на траве
                        и где придётся. Очень плохое, неполноценное питание. Приехал домой когда, стал лечить ноги.
                        Думал это грибок вообще. Соскоб показал, что это не грибок. Врач сказал, что это экзема.
                        Прописал какие-то таблетки
                        и мазь. Жесть... Ноги прошли за неделю, я нарадоваться не мог.
                        Но потом болезнь лишь усилилась. Снова мазал, помогало уже не так эффективно. А ещё появилась
                        экзема на руках!!! Ведь мазь на ноги я наносил руками!!! Я выбросил мази - к дьяволу. Страшные
                        вещи... Нагуглил сам Псориконтрол, несмотря на то, что меня просили не заниматься самолечением.
                        А я плюнул и заказал. Экзема начала быстро проходить. Сначала с рук, потом с ног.
                        Вот уже два месяца как экзема не возвращается

                    </p>
                    <div class="click">+</div>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-8.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Нарак, 48 лет,</p>
                    <p class="reviews-city">Бангкок</p>
                    <p class="reviews-head">Кожа постепенно зажила, <br>
                        и выглядит в разы здоровее</p>
                    <p class="reviews-text">
                        Пробовала цинковую мазь, сразу всем скажу - это все сказки, эффекта от псориаза - ноль. На
                        Псориконтрол наткнулась случайно, лазила по одному дерматологическому форуму и там врач про него
                        писал. Решила попробовать, довольна тем, как подействовало. Кожа постепенно зажила и выглядит
                        теперь в разы здоровее.
                    </p>
                </div>
                <div class="reviews__slider-item">
                    <img src="img/rewImg-9.png" class="reviews-img" alt="rewImg">
                    <p class="reviews-name">Суда, 26 лет,</p>
                    <p class="reviews-city">Хатъяй</p>
                    <p class="reviews-head">Бляшки заживают</p>
                    <p class="reviews-text open">
                        С псориазом я боролась пару лет. Сидела на диетах, старалась не стрессовать - но в итоге
                        стрессовая ещё больше. Встретилась как-то
                        с подругой со школы, она лечилась
                        от экземы одним мощным препаратом на основе алоэ веры - псориконтролом. Сказала, что этот
                        препарат вообще создавали для людей с псориазом, а оказалось, что он от многих кожных
                        заболеваний, настолько мощный. Вот мажусь уже месяц. Бляшки заживают, смотрю на себя в зеркало,
                        и почти незаметно, что у меня псориаз.
                    </p>
                    <div class="click">+</div>
                </div>
            </div>
        </div>
    </div>
</div>