<div class="order block" id="pay">
    <div class="wrapper">
        <h1 class="title">
            Как заказать <span class="brown">Psoricontrol</span>
        </h1>
        <div class="order__block">
            <div class="order__block-item">
                <div class="order__block-item__img"></div>
                <div class="order__block-item__cont">
                    <div class="order__block-item__number">1</div>
                    <div class="order__block-item__text">
                        <p class="order-med">Быстро</p>
                        <p >Вы заполняете форму заказа</p>
                    </div>
                </div>
            </div>
            <div class="order__block-item order__center">
                <div class="order__block-item__img order-bg-2"></div>
                <div class="order__block-item__cont">
                    <div class="order__block-item__number">2</div>
                    <div class="order__block-item__text">
                        <p class="order-med">Удобно</p>
                        <p >Наш оператор перезвонит
                            <span class="ib">и согласует</span> все детали</p>
                    </div>
                </div>
            </div>
            <div class="order__block-item">
                <div class="order__block-item__img order-bg-3"></div>
                <div class="order__block-item__cont">
                    <div class="order__block-item__number">3</div>
                    <div class="order__block-item__text">
                        <p class="order-med">Безопасно</p>
                        <p>Оплата товара только после получения. Никаких предоплат</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>