<div class="main block">
   <div class="wrapper">
        <div class="main-info">
            <p class="main-info__title">
                <span class="brown">Универсальное средство</span>
                для устранения
                псориаза и других кожных заболеваний
            </p>
            <ul class="main-info__list">
                <li class="item">
                    <p class="drop">1</p>
                    <p><span class="list-text">Остановите</span>
                    псориаз, экземы и др. дерматиты</p>
                </li>
                <li class="item">
                    <p class="drop">2</p>
                    <p><span class="list-text">Освободитесь</span>
                        от зуда и шелушения</p>
                </li>
                <li class="item">
                    <p class="drop">3</p>
                    <p><span class="list-text">Устраните</span>
                        воспаления, бляшки и покраснения</p>
                </li>
            </ul>
        </div>
        <div class="main-img">
            <img src="img/women.png" class="women" alt=women">
        </div>
       <div class="form-pack">
           <div class="main-pack">
               <img src="img/pack.png" alt="pack">
           </div>
           <div class="main-form">
               <div class="main-form__cont">
                   <div class="stock-header">
                       Осталось<br>
                       до конца акции:
                   </div>
                   <div class="stock-timer">
                       <div class="stock-timer__item">
                           <span class="clock hours">00</span>
                           <span class="clock-name">Часы</span>
                       </div>
                       <div class="center-timer"></div>
                       <div class="stock-timer__item">
                           <span class="clock minutes">00</span>
                           <span class="clock-name">Мин</span>
                       </div>
                       <div class="center-timer"></div>
                       <div class="stock-timer__item">
                           <span class="clock seconds">00</span>
                           <span class="clock-name">Сек</span>
                       </div>
                   </div>
                   <button class="main__btn">
                       Заказать
                       <span class="with__discount">со скидкой</span>
                   </button>
               </div>
           </div>
       </div>
   </div>
</div>