<div class="symptoms block">
    <div class="wrapper">
        <h1 class="title">Симптомы развития псориаза</h1>
        <div class="symptom">
            <div class="symptom__item">
                <img src="img/symtom1.png" alt="symptom1">
                <div class="symptom__item__cont">
                    <p class="symptom__item__number">1</p>
                    <p class="symptom__item__text">
                        Возникает зуд
                        <span class="ib">и чувство стянутости</span> кожи
                    </p>
                </div>
            </div>
            <div class="symptom__item symptom__item-mt">
                <img src="img/symtom2.png" alt="symptom1">
                <div class="symptom__item__cont">
                    <p class="symptom__item__number">2</p>
                    <p class="symptom__item__text">
                        Кожа шелушится и облазит, особенно в областях,
                        <span class="ib">где она</span> соприкасается
                        <span class="ib">с одеждой</span>
                    </p>
                </div>
            </div>
            <div class="symptom__item">
                <img src="img/symtom3.png" alt="symptom1">
                <div class="symptom__item__cont">
                    <p class="symptom__item__number">3</p>
                    <p class="symptom__item__text">
                        Появляются бляшки
                        <span class="ib">или пузырьки</span> на локтях, ступнях,
                        нижней части спины, коленях и руках
                    </p>
                </div>
            </div>
            <div class="symptom__item symptom__item-mt">
                <img src="img/symtom4.png" alt="symptom1">
                <div class="symptom__item__cont">
                    <p class="symptom__item__number">4</p>
                    <p class="symptom__item__text">
                        Кожа воспаляется
                        <span class="ib">и краснеет</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>