<div class="stat block">
    <div class="wrapper">
        <h1 class="title">
            Статистика:<br>
            более 310 млн тайцев больны псориазом
        </h1>
        <div class="stat__block">
            <div class="stat__block-item">
                <div class="elipse">
                    <span class="elipse__text">76%</span>
                </div>
                <div class="stat__text">
                    <p class="stat__text__head">
                        <span class="black">У 76% больных</span>
                        <span class="ib">проблемы в личной жизни</span>
                    </p>
                    <div class="stat__text__body">
                        <p class="body-head">Самон</p>
                        <p class="body-text">
                            “Стоит мне сблизиться с парнем -
                            <span class="ib">и я узнаю,</span> что он готов быть только другом. Всё из-за этих проклятых
                            бляшек...”
                        </p>
                    </div>
                </div>
            </div>
            <div class="stat__block-item center">
                <div class="elipse img2">
                    <span class="elipse__text">59%</span>
                </div>
                <div class="stat__text">
                    <p class="stat__text__head">
                        <span class="black">У 59% больных</span>
                        <span class="ib">проблемы <br>с трудоустройством</span>
                    </p>
                    <div class="stat__text__body">
                        <p class="body-head">Атхит</p>
                        <p class="body-text">
                            “Конечно, работодатели
                            <span class="ib">не признаются, что дело</span> в моем <span class="ib">внешнем виде,</span>
                            но я по взглядам <span class="ib">понимаю, что для</span> них не
                            <span class="ib">респектабельно иметь</span> такого работника”
                        </p>
                    </div>
                </div>
            </div>
            <div class="stat__block-item">
                <div class="elipse img3">
                    <span class="elipse__text">38%</span>
                </div>
                <div class="stat__text">
                    <p class="stat__text__head">
                        <span class="black">У 38% больных</span>
                        <span class="ib">депрессия</span>
                    </p>
                    <div class="stat__text__body">
                        <p class="body-head">Пхонпан</p>
                        <p class="body-text">
                            “С этой болезнью моя жизнь стала совсем никакой. Я больше
                            <span class="ib">не чувствую</span> себя красивой девушкой, которая может свободно надевать
                            платье и не стесняться
                            своей кожи”

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="stat-in__text">Если кожные болезни вовремя не вылечить, они охватывают
            <span class="ib">всё большие участки кожи.</span> Не затягивайте с лечением!</p>
        <button class="main__btn stat__btn">
            Заказать
            <span class="with__discount">со скидкой</span>
        </button>
    </div>
</div>