<div class="action block">
    <div class="wrapper">
        <h1 class="title">
            <span class="brown">Psoricontrol</span> — средство широкого применения
            <span class="ib">при борьбе</span> с псориазом и другими дерматитами
        </h1>
        <p class="action-text">Разработано на основе экстракта алоэ вера в инновационной интегральной совместимости
            <span class="ib">с другими</span> биоактивными компонентами</p>
        <div class="action__block">
            <div class="action-slider__block">
                <div class="action__slider">
                    <div class="action__slider-item">
                        <div class="inn">
                            <img src="img/slide1.jpg" alt="">
                        </div>
                    </div>
                    <div class="action__slider-item">
                        <div class="inn">
                            <img src="img/slide2.jpg" alt="">
                        </div>
                    </div>
                    <div class="action__slider-item">
                        <div class="inn">
                            <img src="img/slide3.jpg" alt="">
                        </div>
                    </div>
                    <div class="action__slider-item">
                        <div class="inn">
                            <img src="img/slide4.jpg" alt="">
                        </div>
                    </div>
                    <div class="action__slider-item">
                        <div class="inn">
                            <img src="img/slide5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-list">
                <div class="action-list__item">
                    <p class="action-list__drop">1</p>
                    <p class="action-list__text">
                        <span class="head">Дезинфекция</span>
                        <span>Уничтожает бактерии и грибки,
                            <span class="ib">при этом сохраняя</span> кожу увлажненной</span>
                    </p>
                </div>
                <div class="action-list__item">
                    <p class="action-list__drop">2</p>
                    <p class="action-list__text">
                        <span class="head">Восстановление</span>
                        <span>Заживляет глубокие слои кожи (дерму),
                            доставляя туда питательные элементы</span>
                    </p>
                </div>
                <div class="action-list__item">
                    <p class="action-list__drop">3</p>
                    <p class="action-list__text">
                        <span class="head">Защита</span>
                        <span>Увлажняет и питает поверхностные
                            <span class="ib">слои кожи</span> (эпидермис), создавая защиту
                            от внешних раздражений, благодаря
                            антиоксидантным свойствам</span>
                    </p>
                </div>
            </div>
        </div>
        <p class="action__results"><span class="salat">*</span> Результаты, описанные выше, индивидуальны и зависят от
            особенностей организма,
            <span></span>образа жизни и стадии заболевания</p>
    </div>
</div>