<div class="effect block">
    <div class="wrapper">
        <h1 class="title">
            Натуральный состав <span class="brown">Psoricontrol</span> обладает мощным антиоксидантным
            эффектом алоэ вера,
        </h1>
        <p class="action-text">усиленным другими растительными компонентами</p>
        <div class="aloe">
            <div class="aloe__img">
                <img src="img/colba-1.png" alt="colba">
            </div>
            <div class="aloe__text-cont">
                <div class="aloe__text-bg">
                    Экстракт
                    алоэ вера
                </div>
                <div class="aloe__text">
                    <p class="aloe__text-bold">Дезинфицирует
                        <span class="ib">и восстанавливает</span></p>
                    целостность кожи, благодаря антиоксидантному эффекту
                </div>
            </div>

        </div>
        <div class="effect-ingridients">
            <div class="effect-ingridients__item">
                <div class="image-staff">
                    <img src="img/colba-2.png" alt="colba">
                </div>
                <div class="text-staff">
                    <p class="text-staff__head">
                        Масло листьев <br>
                        сизигиума</p>
                    <p class="text-staff__text">
                        <span class="effect-bold">Устраняет сухость</span>,
                        способствуя интенсивному увлажнению кожи</p>
                </div>
            </div>
            <div class="effect-ingridients__item effect-center">
                <div class="image-staff image-staff-2">
                    <img src="img/colba-3.png" alt="colba">
                </div>
                <div class="text-staff">
                    <p class="text-staff__head">
                        Лимонная <br>
                        кислота</p>
                    <p class="text-staff__text">
                        <span class="effect-bold">Дезинфицирует</span> место нанесения,
                        <span class="ib">при этом</span> сохраняя кожу увлажненной</p>
                </div>
            </div>
            <div class="effect-ingridients__item">
                <div class="image-staff image-staff-3">
                    <img src="img/colba-4.png" alt="colba">
                </div>
                <div class="text-staff">
                    <p class="text-staff__head">
                        Экстракт <br>
                        корня имбиря</p>
                    <p class="text-staff__text">
                        <span class="effect-bold">Питает глубокие слои</span> кожи,
                        заживляет повреждения</p>
                </div>
            </div>
            <div class="effect-ingridients__item">
                <div class="image-staff image-staff-4">
                    <img src="img/colba-5.png" alt="colba">
                </div>
                <div class="text-staff">
                    <p class="text-staff__head">
                        Бисаболол <br>
                        (полученный из хлопка)</p>
                    <p class="text-staff__text">
                        Избавляет от возможного заражения грибками и способствует
                        <span class="effect-bold">быстрому заживлению</span> кожи
                    </p>
                </div>
            </div>
            <div class="effect-ingridients__item effect-center">
                <div class="image-staff image-staff-5">
                    <img src="img/colba-6.png" alt="colba">
                </div>
                <div class="text-staff">
                    <p class="text-staff__head">
                        Токоферол <br>
                        ацетат</p>
                    <p class="text-staff__text">
                        <span class="effect-bold">Уменьшает воспаления</span>
                        и устраняет пигментные пятна
                    </p>
                </div>
            </div>
            <div class="effect-ingridients__item">
                <div class="image-staff image-staff-6">
                    <img src="img/colba-7.png" alt="colba">
                </div>
                <div class="text-staff">
                    <p class="text-staff__head">
                        Экстракт <br>
                        ромашки</p>
                    <p class="text-staff__text">
                        Не дает псориазу распространяться дальше по телу
                        и постепенно  <span class="effect-bold">устраняет очаг</span>
                        кожного заболевания
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>