<div class="effect block">
    <div class="wrapper">
        <h1 class="title">
             Натуральный состав <span class="brown">Psoricontrol</span> обладает мощным антиоксидантным
            эффектом алоэ вера,
        </h1>
        <p class="action-text">усиленным другими растительными компонентами</p>
        <div class="aloe">
            <div class="aloe__text-bg">
                Экстракт
                алоэ вера
            </div>
            <div class="aloe__img">
                <img src="img/colba-1.png" alt="colba">
            </div>
            <div class="aloe__text">
                <p class="aloe__text-bold">Дезинфицирует
                    <span class="ib">и восстанавливает</span></p>
                    целостность кожи, благодаря антиоксидантному эффекту
            </div>
        </div>
        <div class="effect-ingridients">
            <div class="effect-ingridients__item">
                <div class="image-staff">
                    <img src="img/colba-2.png" alt="colba">
                </div>
            </div>
        </div>
    </div>
</div>