<div class="recovery block">
    <div class="wrapper">
        <h1 class="title">
            <span class="brown">Psoricontrol</span> восстанавливает
            <span class="ib">эстетичный вид кожи <span class="ib">в 3 шага</span></span>
        </h1>
        <div class="recovery-things">
            <div class="recovery-things__item">
                <div class="recovery-img">
                    <img src="img/recov-1.png" alt="recov">
                </div>
                <div class="recovery-text-cont">
                    <div class="recovery-number">1</div>
                    <div class="recovery-text">
                        Устраняет очаг
                        воспаления
                    </div>
                </div>
            </div>
            <div class="recovery-things__item recovery-center">
                <div class="recovery-img">
                    <img src="img/recov-2.png" alt="recov">
                </div>
                <div class="recovery-text-cont">
                    <div class="recovery-number">2</div>
                    <div class="recovery-text">
                        Восстанавливает целостность структуры кожи
                    </div>
                </div>
            </div>
            <div class="recovery-things__item">
                <div class="recovery-img">
                    <img src="img/recov-3.png" alt="recov">
                </div>
                <div class="recovery-text-cont">
                    <div class="recovery-number">3</div>
                    <div class="recovery-text">
                        Возвращает коже
                        здоровый вид
                    </div>
                </div>
            </div>
        </div>
        <button class="main__btn recovery__btn ever-popup-btn">
            Заказать
            <span class="with__discount">со скидкой</span>
        </button>
    </div>
</div>