<div class="expert block" id="recomend">
    <div class="wrapper">
        <h1 class="title"><span class="brown">Psoricontrol</span> возвращает красоту кожи даже тем,
            <span class="ib">кто уже</span> отчаялся</h1>
        <div class="expert__block">
            <div class="expert__image">
                <img src="img/ubon.png" alt="">
            </div>
            <div class="expert__text">
                <div class="expert__text-head">Убон Винай</div>
                <div class="expert__text-head-mini">косметолог, стаж 18 лет</div>
                <p class="expert__text-descr">
                    Большинство препаратов от псориаза и других дерматитов - это фактически обыкновенные средства от
                    зуда. Да, они могут облегчить симптомы, но от бляшек
                    <span class="ib">и покраснений</span> они не избавляют. Но
                    <span class="medium-exp"><span class="brown">Psoricontrol</span> показывает впечатляющие результаты.</span>
                </p>
                <p class="expert__text-descr">
                    Ко мне часто приходят люди с запущенными случаями. Я устала направлять их
                    <span class="ib">к дерматологам,</span> поскольку знаю, что в больнице им далеко не всегда помогают. Поскольку у меня у
                    самой медицинское образование и большой опыт работы, я отлично разбираюсь в средствах от дерматитов
                    и рекомендую своим клиентам <span class="medium-exp"><span class="brown">Psoricontrol</span></span>.
                </p>
                <p class="expert__text-descr">
                    С этим кремом у них быстро <span class="medium-exp">останавливается воспаление, бляшки проходят, эпидермис восстанавливается</span>
                    и человек может жить нормальной жизнью, не стесняясь своей кожи. <span class="medium-exp"><span
                        class="brown">Psoricontrol</span></span> помог даже моим
                    клиентам, у которых хронический псориаз на стадиях обострения!
                </p>
            </div>
        </div>
    </div>
</div>