<div class="ever-popup-build">
    <div class="pop-good" id="cloneThis">
        <div class="logo">
            <img src="img/logo.png" alt="">
            <p class="logo__name"><span class="brown">Psori</span>Control</p>
        </div>
        <div class="main-pack">
            <img src="img/pack.png" alt="pack">
        </div>
        <div class="main-footer-form">
            <div class="main-footer-form__cont">
                <div class="stock-header">
                    Осталось<br>
                    до конца акции:
                </div>
                <div class="stock-timer">
                    <div class="stock-timer__item">
                        <span class="clock hours">00</span>
                        <span class="clock-name">Часы</span>
                    </div>
                    <div class="center-timer"></div>
                    <div class="stock-timer__item">
                        <span class="clock minutes">00</span>
                        <span class="clock-name">Мин</span>
                    </div>
                    <div class="center-timer"></div>
                    <div class="stock-timer__item">
                        <span class="clock seconds">00</span>
                        <span class="clock-name">Сек</span>
                    </div>
                </div>
                <form action="/submit" method="post" class="x_order_form">
                    <div class="name-inpt">
                        <input type="text" name="name" required placeholder="Мое имя">
                    </div>
                    <div class="phone-inpt">
                        <input type="text" name="phone" required placeholder="Мой телефон">
                    </div>
                    <button type="submit" class="main__btn">
                        Заказать
                        <span class="with__discount">со скидкой</span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>