.order{
  padding: 21px 0 93px;
  background: #fff;
  position: relative;
  &:before{
    background: url(../img/top-vawe.png) center no-repeat;
    background-size: cover;
    content: '';
    height: 154px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: -70px;
    z-index: 0;
  }
  .wrapper{
    position: relative;
  }
}

.order__block{
  display: flex;
  justify-content: center;
  margin: 45px 0 0;
  &-item{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
      width: 295px;
      height: 295px;
      background: #ffffff url("../img/forma.png")  no-repeat center;
      border-radius: 50%;
      border: 12px solid #efdcd1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .order-bg-2{
      background: #ffffff url("../img/kurva.png") no-repeat center;
    }
    .order-bg-3{
      background: #ffffff url("../img/pack-order.png") no-repeat -67px -43px;
    }
    &__cont{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    &__number{
      color: #2c2f35;
      font-size: 60px;
      font-weight: 300;
      margin: 22px 0 0;
      &:after{
        height: 4px;
        display: block;
        margin: 10px auto 15px;
        width: 70px;
        content: "";
        background: #915e35;
      }
    }
    &__text{
      color: #686c6f;
      font-size: 20px;
    }
    .order-med{
      font-size: 24px;
      font-weight: 700;
      color: #2c2f35;
    }
  }
}
.calendar{
  width: 60px;
  height: 63px;
  background: url("../img/calendar.svg") no-repeat ;
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text{
    font-size: 12px;
    font-weight: 500;
    color: #2c2f35;
    margin: 4px 0 0;
  }
  &__days{
    color: #2c2f35;
    font-weight: 900;
    font-size: 28px;
    margin: 3px 0 0;
  }
}
.order__center{
  margin: 0 60px 0;
}

@media screen and (max-width: 1199px){
  .order__block-item__text{
    font-size: 21px;
  }
  .order:before{
    display: none;
  }
}

@media screen and (max-width: 1023px){
  .order__block{
    margin: 35px 0 0;
  }
  .order__block-item {
    width: 251px;
  }
  .order__block-item .order-bg-2,
  .order__block-item .order-bg-3,
  .order__block-item__img {
    width: 234px;
    height: 234px;
    background-position: center;
    background-size: contain;
  }
  .order__block-item__img{
    background-size: 70%;
  }
  .order__block-item__number{
    margin: 0;
    font-size: 49px;
  }
  .order__block-item__number:after{
    margin: 10px auto;
  }
  .order__block-item .order-med {
    font-size: 22px;
  }
  .order__block-item__text {
    font-size: 19px;
  }
  .order__center {
    margin:  0;
  }
}

@media screen and (max-width: 767px) {
  .order__block-item .order-bg-2, .order__block-item .order-bg-3, .order__block-item__img {
    width: 190px;
    height: 190px;
  }
  .order__center{
    margin: 0;
  }
  .order__block-item__number{
    font-size: 42px;
  }
  .order__block-item__text {
    font-size: 18px;
  }
  .order__block-item__number:after{
    margin: 0 auto 4px;
  }
}

@media screen and (max-width: 639px) {
  .order__block{
    flex-direction: column;
    margin: 20px 0 0;
  }
  .order__block-item{
    width: 100%;
    flex-direction: row;
    margin: 15px 0 0 0;
  }
  .order__block-item__cont{
    align-items: flex-start;
    text-align: left;
    margin:  0 0 0 15px;
  }
  .order__block-item .order-bg-2, .order__block-item .order-bg-3, .order__block-item__img{
    flex-shrink: 0;
    width: 155px;
    height: 155px;
    //background-size: contain;
  }
  //.calendar{
  //  margin: 5px 0 0;
  //}
  //.order__block-item .order-bg-2{
  //  background-position: 14px -2px;
  //}
  //.order__block-item .order-bg-3 {
  //  background-position: center 60px;
  //}
}

@media screen and (max-width: 479px) {
  .order__block-item .order-bg-2, .order__block-item .order-bg-3, .order__block-item__img{
    width: 136px;
    height: 136px;
  }
  .order__block-item__number {
    font-size: 31px;
  }
  .order__block-item__text {
    font-size: 16px;
  }
}
