.header{
  padding: 14px 0 9px;
  background: #fff;
}
.header-top{
  display: flex;
  justify-content: space-between;
}
.dashed{
  border-bottom: 2px dotted #686a6f;
}
.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #9a6531;
  position: relative;
  &:after{
    content: '';
    background: url(../img/logo-wave.png) no-repeat;
    width: 160px;
    height: 23px;
    position: absolute;
    top: 55px;
    left: -54px;
  }
  &__name{
    font-size: 26px;
    margin: 0 0 0 18px;
  }
}

.menu{
  display: flex;
  &__item{
    display: flex;
    align-items: center;
    margin: 0 0 0 48px;
    svg{
      flex-shrink: 0;
    }
    &__text{
      color: #686a6f;
      font-size: 16px;
      line-height: 21px;
      margin: -10px 0 0 12px;
      transition: 0.3s;
      &:hover{
        .dashed{
          border-bottom: 2px solid transparent;
        }
      }

    }

  }
}

.brown{
  color: #864f30;
}



@media screen and (max-width: 1123px){
  .logo__name {
    margin: 0 0 0 8px;
  }
  .menu__item{
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 767px){
  .logo:after{
    display: none;
  }
  .header-top{
    flex-direction: column;
    align-items: center;
  }
  .menu{
    margin: 15px 0 0;
  }
  .menu__item__text{
    font-size: 15px;
  }
  .menu__item {
    margin: 0 0 0 12px;
  }
}

@media screen and (max-width: 479px){
  .menu{
    flex-direction: column;
    margin: 0;
    display: none;
  }
  .menu__item{
    margin: 12px 0 0;
  }
  .menu__item__text{
    margin: 0 0 0 9px;
  }
  .menu__item svg{
    width: 41px;
  }
}
