.action {
  padding: 40px 0 0px;
  position: relative;
  z-index: 5;

  &:before {
    background: url("../img/top-vawe.png") center no-repeat;
    background-size: cover;
    content: '';
    height: 154px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: -72px;
    z-index: -1;
  }
  &:after{
    background: url("../img/bottom-vawe.png") center  no-repeat;
    background-size: cover;
    content: '';
    height: 154px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom:-121px;
    z-index: -1;
  }
  .title {
    margin-bottom: 23px;
  }
}

.action__block {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 0;

}

.action-text {
  text-align: center;
  color: #686c6f;
  font-size: 24px;
}

.action-slider__block {
  width: 610px;
  padding: 0 0 22px;
  margin: 0 0 0 31px;
  position: relative;
  &:after {
    background: url(../img/aloe-vera.jpg) center;
    content: '';
    width: 606px;
    height: 296px;
    left: -288px;
    top: 189px;
    z-index: -1;
    position: absolute;
  }
}

.inn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

.slick-next:hover,
.slick-next:focus,
.slick-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 6px 22px -2px rgba(156, 162, 131, 0.67);
  z-index: 50;
  background: #ffffff url("../img/arrow-next.svg") center no-repeat;
  transition: 0.5s;
}

.slick-next.slick-disabled {
  background: #ffffff url("../img/arrow-next-dis.svg") center no-repeat;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 6px 22px -2px rgba(156, 162, 131, 0.67);
  z-index: 50;
  background: #ffffff url("../img/arrow-prev.svg") center no-repeat;
  transition: 0.5s;
}

.slick-prev.slick-disabled {
  background: #ffffff url("../img/arrow-prev-dis.svg") center no-repeat;
}

.slick-dots li button,
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  display: none;
}
.action__slider .slick-dots{
  bottom: -44px;
}
.slick-dots li {
  border: 1px solid #ccd2de;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.slick-dots li.slick-active {
  border: 5px solid #c69c6d;
}

.action-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 432px;
  &__item {
    display: flex;
    margin: 0 0 39px;
    width: 100%;
  }
  &__drop {
    width: 37px;
    height: 55px;
    background: url("../img/action-drop.png") center no-repeat;
    font-weight: 500;
    font-size: 30px;
    color: #262a31;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 6px 29px 0 0;
  }
  &__text {
    color: #686c6f;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    .head {
      color: #262a31;
      font-size: 26px;
      font-weight: 700;
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background: #acdc2c;
        margin: 8px 0;
      }
    }
  }
}

.action__results {
  text-align: center;
  color: #686c6f;
  font-style: italic;
  font-size: 17px;
  max-width: 710px;
  margin: 49px auto 0;
}

.salat {
  font-size: 18px;
  color: #acdc2c;
}

@media screen and (max-width: 1199px){
  .action:before,
  .action:after{
    display: none;
  }
  .action__block{
    margin: 45px 0 0;
  }
  .action-slider__block{
    width: 510px;
  }
  .slick-slide img {
    max-width: 100%;
  }
  .action-slider__block:after{
    left: -378px;
  }

}

@media screen and (max-width: 1023px){
  .action-slider__block:after{
    display: none;
  }
  .action__block{
    flex-direction: column;
    align-items: center;
  }
  .action__block{
    margin: 22px 0 0 0;
  }
  .action-slider__block{
    margin: 0;
  }
  .action-list{
    width: 513px;
  }
  .action-list__item {
    margin: 0 0 20px;
  }
  .action__results{
    margin: 0;
  }
  .action-text{
    font-size: 20px;
  }
  .action-list__text .head{
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {
  .action-slider__block {
    width: 400px;
  }
  .action-list__drop{
    background-size: contain;
    width: 30px;
    height: 41px;
    font-size: 17px;
    margin: 6px 11px 0 0;
  }
  .action-list__text{
    font-size: 17px;
  }
}

@media screen and (max-width: 479px){
  .action-list{
    width: 100%;
  }
  .action-slider__block {
    width: 259px;
  }
}