doctype html
html
  head
    meta(charset="utf-8")
    title Купить HuntExpert недорого. Цены, отзывы. Закажите HuntExpert сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/foundation.css')
  body
    include ../common/1_header.html
    include ../common/2_main.html
    include ../common/popup.html


    script(src='./js/foundation.js')
    script(src='./js/app.js')
    script(src='./js/postDate.js')
    script(src='./js/everad.js')
